.root {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.link {
  position: relative;
  padding: 0.5rem 1rem;
  margin-top: 0.25rem;
  border-radius: 6px;
  color: rgb(99, 115, 129);
  background-color: transparent;
  text-decoration: none;
  height: 44px;
}

.label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.link:hover {
  background-color: rgba(60, 70, 80, 0.08);
}

.active {
  color: rgb(24, 119, 242);
  background-color: rgba(24, 119, 242, 0.08);
  font-weight: bold;
}

.link:first-child {
  margin-top: 0px;
}
