.items {
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  max-width: 1035rem;
  padding: 0 2rem;
  width: 100%;
}

.item {
  align-items: center;
  color: rgb(0 0 0 / 60%);
  display: flex;
  position: relative;
  padding: 0.25rem 0.75rem;
  margin: 0.25rem 0;
  text-decoration: none;
}

.item:hover {
  background-color: #e0e0e0;
  color: #333;
  border-radius: 0.5rem;
}

.chip {
  margin-left: 0.25rem;
  background-color: #dff4cf;
  border-radius: 0.25rem;
  color: #357a00;
  font-size: 0.625rem;
  font-weight: 600;
  padding-inline: 0.25rem;
}
