.root {
  width: 300px;
}

.item {
  list-style-type: none;
  margin-bottom: 1rem;
}

.link {
  color: rgb(0 0 0 / 60%);
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

.link:hover {
  background-color: #edeeee;
  color: rgb(0 0 0 / 87%);
  font-weight: bold;
  padding: 0.25rem 0 0.25rem 0.5rem;
}

.index {
  padding-left: 1em;
  margin-top: 0.75rem;
}
