.root {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: auto;
  right: 0px;
  height: 80px;
  z-index: 1101;
  background-color: rgba(249, 250, 251, 0.8);
  width: calc(100% - 281px);
}

.wrap {
  padding: 0 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  background-color: transparent;
  border: 0px;
  margin: 0px;
  padding: 8px;
  border-radius: 50%;
  color: rgb(99, 115, 129);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: 0;
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
