.root {
  width: 225px;
  padding: 0 32px;
  margin-bottom: 10px;
  border-right: 1px solid #cccccc;
}

.title {
  font-weight: bold;
}

.item {
  /* 子要素は１つですが、余白などのスタイルを左隣の"サービス一覧"と揃えるために display: flex; を当てています */
  display: flex;
}
