.root {
  padding: 0 32px;
  margin-bottom: 10px;
}

.withBorder {
  border-right: 1px solid #cccccc;
}

.title {
  font-weight: bold;
}

.items {
  display: flex;
  gap: 8rem;
  align-items: flex-start;
}

.list {
  padding: 0;
  list-style: none;
}

.link {
  margin: 0.75rem 0;
}
