.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.025rem 2rem 0 2rem;
  margin-top: 0.5rem;
}

.logo {
  width: 40px;
  height: 40px;
}

.menu {
  display: flex;
}

.form {
  width: 20rem;
  margin-right: 1rem;
  position: relative;
}

.input {
  background-color: #edeeee;
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  font-size: 0.875rem;
  font-weight: bold;
  color: #357a00;
  border: 0.0625rem solid #357a00;
  margin-left: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.registrations {
  font-size: 0.875rem;
  font-weight: bold;
  background-color: #357a00;
  border: 0.0625rem solid #357a00;
  border-radius: 0.5rem;
  color: rgb(255 255 255 / 92%);
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
