.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px 20px 25px;
  margin: 0 95px;
}

.wrap {
  display: flex;
  align-items: center;
}

.logo {
  width: 32px;
  height: 26px;
  margin-right: 32px;
}

.text {
  font-size: 8px;
  color: #646464;
}

.list {
  display: flex;
  list-style: none;
  font-size: 12px;
}

.link {
  text-decoration: none;
  color: #808080;
}

.item {
  padding: 0 8px;
  border-right: 1px solid #808080;
}
