.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 1.25rem 1.5rem;
  margin: 0 6rem;
}

.wrap {
  display: flex;
  align-items: center;
}

.logo {
  width: 2rem;
  height: 1.5rem;
  margin-right: 2rem;
}

.text {
  font-size: 0.5rem;
  color: #646464;
}

.list {
  display: flex;
  list-style: none;
  font-size: 0.75rem;
}

.link {
  text-decoration: none;
  color: #808080;
}

.item {
  padding: 0 0.5rem;
  border-right: 1px solid #808080;
}
