.root {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.content {
  width: 450px;
  margin-bottom: 10px;
  padding: 0 2rem;
}

.contentWithBorder {
  border-right: 1px solid #cccccc;
}

.title {
  display: flex;
  justify-content: left;
  font-weight: bold;
}

.items {
  display: flex;
}

.contents {
  width: 225px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding: 0 32px;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  margin-right: 1rem;
  padding: 0;
}

.list2 {
  margin-left: 3rem;
}

.link {
  margin: 0.5rem 0;
  text-align: left;
  display: block;
  padding: 0;
}
