.root {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  background: #f3f3f3;
  padding: 1rem 6rem;
}

.lists {
  display: flex;
}

.list {
  list-style: none;
}

.item {
  margin-bottom: 0.5rem;
}

.form {
  position: relative;
}

.input {
  height: 2.5rem;
  padding: 0 5rem 0 1rem;
  font-size: 0.75rem;
  border: 1px solid #000000;
}

.button {
  width: 4.5rem;
  height: 2.5rem;
  background: #000000;
  color: #ffffff;
  font-size: 0.75rem;
  border: 1px solid #000000;
}
